html {
	background-color: #FFFFFF;
}

h1 {
	font-size: 60px;
	text-align: center;
	padding: 0px;
}

h3 {
	font-size: 30px;
	width: 400px;
	text-align: center;
    background-color: #000066;
    color: #FFFFFF;
}

h5 {
	font-size: 18px;
	width: 500px;
	padding-left: 80px;
	text-decoration: underline;
	color: #000066;
}

p {
	padding-left: 120px;
	padding-right: 120px;
}

ul {
	list-style-type: square;
	padding-left: 140px;
	padding-right: 120px;
}

img {
	border-style: solid;
	border-radius: 20px;
	border-color: #000000;
	vertical-align;
}

#credit_tag{
	font-size: 30px;
	font-style: italic;
	font-family: monospace;
	color: #888888;
	text-align: center;
	position: relative;
	top: -40px;
}

#high {
	font-weight: bold;
	color: #FF0000;
}

#medium {
	font-weight: bold;
	text-decoration: underline;
	color: #FFBB00;
	padding-bottom: 0px;
}

#low {
	font-weight: bold;
	text-decoration: underline;
	color: #0000FF;
	padding-bottom: 0px;
}