#game_div{
    text-align: center;
}

canvas {
    background-color: #87CEEB;
}

body {
}

#sourceImg{
	display: none;
}

/*An attempt to add a ground-colored box below the bushes.
  Couldn't get it behind the images on the canvas, so instead
  put the bushes graphic at the bottom of the image.


#ground{
	background-color:#C96A1B;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top:    -35px;
	width:  800px;
	height: 30px;
}
*/
